:root {
  font-family: "Noto Sans", serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: #7789AB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vb;
  min-height: 100vh;
}

.image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vb;
  height: 550px;
  overflow-y: auto;
}

h1, p{
  margin: 0;
}


img{
  border-radius: 15px;
  object-fit: cover;
  width: 500px;
  height: 300px;
  margin: 20px;
  border: solid 2px;
  box-shadow: 4px 4px;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  top: 25px;
}

button{
  background-color: #C7f022;
  border-radius: 5px;
  border: none;
  color: black;
  height: 40px;
  width: 100px;
  font-size: 20px;
  font-weight: 500;
}

button:hover{
    transition-duration: 0.1s;
    color: #C7f022;
    background-color: #00284c;
}

button:active{
  transition-duration: 0.1s;
  transform: scale(0.80);
  background-color: #A0E8C5;
}

a{
  color: #C7f022;
}

a:hover{
  color: #00284c;
  
}

a:active{
  opacity: 0.8;
  color: #cae6ff;
}
